@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@400;800&family=Poppins:wght@300;400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body,
#root {
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

#modal-container {
  position: relative;
}

.prevent-scroll {
  overflow: hidden;
}
